/*
 *= require_tree ./application
 */

@import "bootstrap/variables";
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.8;
$navbar-inverse-link-active-bg: black; //lighten($navbar-inverse-bg, 20%);
$navbar-inverse-link-color: lighten($gray-light, 20%);

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
