@font-face {
    font-family: 'Freight';
    src: font-url('freight-sans-book-opentype.ttf');
    font-weight: normal;
    font-style: normal;
}

.flash-message {
  padding: 15px;
  margin-top: 20px;
  color: #333;
}
.login-container{
  min-height: 100vh;
  padding-top: 40px;
  background: image-url('trading.jpg') 60% no-repeat;
  color: #ddd;
  a {
    color: #bbb;
    &:hover {
      color: #ccc;
    }
  }
}
h1{
  font-family: "Freight", sans-serif;
  font-weight: 400;
}
.navbar-inverse .navbar-nav > li:not(.active) > a:focus {
  color: #c4c4c4;
}
#error_explanation h2 {
  font-size: 1.2em;
}
nav#main-menu{
  font-size: 18px;
}
@media screen and (max-width: 1024px){
  .navbar-default .navbar-nav > li > a{
    font-size: 15px;
  }
}
.navbar-brand{
  padding: 7px 10px 5px 15px;
}
@media only screen and (max-width: 889px) and (min-width: 768px){
  .navbar-brand{
    display: none !important;
  }
}
.navbar-logo{
  height: 38px;
  position: relative;
  bottom: 5px;
}
.header-padding{
  height: 35px;
}
.margin-top-nav {
  margin-top: 51px;
}
.margin-left-nav {
  margin-left: 200px;
}
.account-page-wrapper {
  padding: 10px;
}
.side-nav {
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 100;
  background-color: #222;
  ul {
    float: initial;
    list-style: initial;
    li {
      width: 100%;
      a {
        color: #c4c4c4;
        &:hover {
          background-color: inherit;
          color: white;
        }
      }
    }
  }
}
#intro{
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
  color: white;
  background-color: #172736 !important;
  background: image-url('trading.jpg') 50% no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  > div{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
  }
}
.description{
  font-size: 20px;
  color: #fff;
  max-width: 560px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.main-try-btn{
  height: 50px;
  font-size: 24px !important;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.43 !important;
}
.btn-more{
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  border: none;
  &:hover{
    background: none !important;
    color: #d3c400 !important;
  }
}
.section-heading{
  float: left;
  width: 100%;
  padding-bottom: 15px;
  clear: both;
  h2{
    font-size: 36px;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5;
    &:after{
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: gray;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
    }
  }
}
@media only screen and (min-width: 769px){
  .vertical-align-sm{
    display: flex;
    align-items: center;
  }
}
.intro-p-md{
  padding-top: 50px;
}
#steps{
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 6px;
}
.step-number{
  font-size: 24px;
  opacity: 0.5;
}
.step-img > img{
  height: 100px;
  width: 100px;
}
#about{
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 6px;
}
.tech-img{
  height: 50px;
  margin-bottom: -75px;
  width: 50px;
  > img{
    height: 50px;
    width: 50px;
  }
}
.tech-desc{
  margin-left: 63px;
  text-align: left;
  margin-bottom: 50px;
}
#features{
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 6px;
}
.person{
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
  img{
    display: block;
    margin: 0 auto;
    height: 150px;
  }
}
#pricing{
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 6px;
}
.package{
  box-sizing: border-box;
  max-width: 301px;
  width: 100%;
  height: 400px;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  transition: margin-top .5s linear;
  position: relative;
  margin: 10px auto;
  max-width: 301px;
  width: 100%;
}
.name{
  color: #000;
  font-size: inherit;
  margin-top: -5px;
}
.price{
  color: #000;
  font-weight: 600;
  font-size: 3rem;
}
.green-text{
  color: #5cb85c;
  margin-top: 6px;
}
.price-option{
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
  li{
    color: #000;
    font-weight: 300;
    strong{
      font-weight: 400;
    }
  }
}
.price-total{
  display: inline-block;
  font-weight: 400;
  &:after{
    content: " total";
    font-weight: 300;
  }
}
.fixed-bottom-btn{
  position: absolute;
  width: 100%;
  padding: 0 20px;
  bottom: 20px;
  left: 0;
}
.brilliant{
  &:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #5cb85c transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }
  border-color: #e8e8e8;
  &:after{
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
  }
}
.payment-icon{
  max-height: 50px;
  max-width: 60px;
}
#contacts{
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 20px;
  background: rgba(23, 39, 54, 0.2);
}
.footer-text{
  text-align: left;
  font-size: 13px;
}
.img-social{
  max-height: 45px;
}
